1 VERSIONINFO
 FILEVERSION 1,8,0,0
 PRODUCTVERSION 1,8,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x00040004L
 FILETYPE 0x00000001L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4" 
        BEGIN
            VALUE "Comments", "libnfc example\0"
            VALUE "CompanyName", "libnfc.org\0"
            VALUE "FileDescription", "\0"
            VALUE "FileVersion", "1.8.0.0\0"
            VALUE "InternalName", "pn53x-diagnose release\0"
            VALUE "LegalCopyright", "Copyright (C) 2024\0"
            VALUE "OriginalFilename", "pn53x-diagnose.exe\0"
            VALUE "ProductName", "libnfc release\0"
            VALUE "ProductVersion", "1.8.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
